@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #00ADB8;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }


    .customer-scroll-bar {
        /* 自定义整个滚动条 */

        ::-webkit-scrollbar {
            width: 6px; /* 设置滚动条的宽度 */
            height: 4px; /*  设置横轴（x轴）轴滚动条 */
        }

        /* 自定义滚动条轨道 */

        ::-webkit-scrollbar-track {
            background: #e1e1e1; /* 轨道的背景色 */
            border-radius: 10px; /* 轨道的圆角 */
        }

        /* 自定义滚动条的滑块（thumb） */

        ::-webkit-scrollbar-thumb {
            background-color: #40979c; /* 滑块的背景色 */
            border-radius: 10px; /* 滑块的圆角 */
            /*border: 1px solid #ffffff; !* 滑块边框 *!*/
        }

        /* 滑块hover效果 */

        ::-webkit-scrollbar-thumb:hover {
            background: #a8a8a8; /* 滑块hover时的背景色 */
        }
    }
}